services:
  backend:
    build:
      context: ./backend
    env_file:
      - .env
    container_name: notes_backend
    ports:
      - "8000:8000"
    networks:
      - notes_net
    depends_on:
      - db
      - redis

  db:
    image: postgres:16
    container_name: notes_postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - notes_net

  redis:
    image: redis:7
    container_name: notes_redis
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    networks:
      - notes_net

networks:
  notes_net:
    driver: bridge

volumes:
  postgres_data:
  redis_data: